table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

.many-pictures{
	
	background-image:url(../IMAGES/many-pictures.jpg); 
	
	height: 1151px;
	
}

.left-many-pictures{
	
	width:50px;
	
	background-color:cyan;
	
	
}